<p id="notice"><%= notice %></p>

<p>
  <strong>Ranking:</strong>
  <%= @player.ranking %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @player.rating %>
</p>

<p>
  <strong>Name:</strong>
  <%= @player.name %>
</p>

<p>
  <strong>Realmid:</strong>
  <%= @player.realmId %>
</p>

<p>
  <strong>Realmname:</strong>
  <%= @player.realmName %>
</p>

<p>
  <strong>Realmslug:</strong>
  <%= @player.realmSlug %>
</p>

<p>
  <strong>Raceid:</strong>
  <%= @player.raceId %>
</p>

<p>
  <strong>Classid:</strong>
  <%= @player.classId %>
</p>

<p>
  <strong>Specid:</strong>
  <%= @player.specId %>
</p>

<p>
  <strong>Factionid:</strong>
  <%= @player.factionId %>
</p>

<p>
  <strong>Genderid:</strong>
  <%= @player.genderId %>
</p>

<p>
  <strong>Seasonwins:</strong>
  <%= @player.seasonWins %>
</p>

<p>
  <strong>Seasonlosses:</strong>
  <%= @player.seasonLosses %>
</p>

<p>
  <strong>Weeklywins:</strong>
  <%= @player.weeklyWins %>
</p>

<p>
  <strong>Weeklylosses:</strong>
  <%= @player.weeklyLosses %>
</p>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'Back', players_path %>
